.teamSugesstion {
    color: red;
    padding-left: 300px;
}

.suggestionArea {
    padding-left: 300px;
    padding-bottom: 50px;
}

.messageButton {
    padding-left: 300px;
    padding-bottom: 100px;
}