.technicalskill {
    padding-left: 300px;
}

.header {
    padding-left: 300px;
}
.ratingSkills {
    padding-left: 300px;
}

.randomtext {
    padding-left: 300px;
    padding-right: 300px;
}