.assignmentheader {
    color: red;
    padding-top: 100px;
    padding-left: 300px;
}

.searchbar {
    padding-top: 10px;
    padding-left: 1000px;
}

.text {
    padding: 100px;
    padding-left: 300px;
}

.button {
    padding-left: 300px;
}

